* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff; /* Dark blue background color */
    color: black; /* Text color */
    padding: 20px 40px; /* Padding */
    display: flex; /* Flexbox layout */
    justify-content: center;
    align-items: center; /* Center alignment for items */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

.header-left h2 {
    width:100%;
    font-size: 1.92vw;
    text-align: center;
}

.header-right {
    position: absolute;
    display: flex; /* Flexbox layout */
    align-items: center; /* Center alignment for items */
    right: 20px;
    top: 20px;;
}

.header-modes {
    position: absolute;
    left: 2.17vh;
}

.button-style, .dropbtn {
    margin-left: 15px;
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    background-color: #3498db; /* Blue background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button-style:hover, .dropbtn:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.dropdown {
    position: relative; /* Relative positioning */
}

.dropdown-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Absolute positioning */
    background-color: #f9f9f9; /* Background color */
    min-width: 160px; /* Minimum width */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow */
    z-index: 1; /* Ensure it appears above other content */
}

.dropdown-content a {
    color: #333; /* Text color */
    padding: 12px 16px; /* Padding */
    text-decoration: none; /* Remove underline */
    display: block; /* Display as block */
}

.dropdown-content a:hover {
    background-color: #f2f2f2; /* Lighter background color on hover */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}

.object-section {
    background-size: cover;
    height: 80vh;
    color: #222222;
    position: relative;
    display: flex;
    align-items: center;
}

.object-section-left {
     justify-content: flex-start;
}

.object-section-right {
    justify-content: flex-end;
}

.object-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;  /* Added this */
    z-index: 1;  /* Added this */
    margin-left: 50px;
    margin-right: 50px;
}

.object-inline-info {
    height: 60vh;
}

.object-inline-info p {
    width : 80vh;
}

.object-inline div {
    margin: 0 20px;
}

.object-inline h2 {
    margin-bottom: 10px;
}

.object-inline p {
    margin-bottom: 20px;
}

.object-inline img {
    max-width: 400px;
    border-radius: 10px;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px rgba(255, 215, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 255, 255); 
    }
}

.object-inline:hover {
    animation: glow-animation 1s infinite alternate;
}


.object-image {
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    opacity: 0.1;
    z-index: 0;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}



.button-style {
  background: #1b5089;
  border-radius: 999px;
  box-shadow: #1b5089 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-style:hover {
    background-color: #42668d;
    transform: scale(1.05);
}

.button-style:active {
    background-color: #42668d;
    transform: scale(0.95);
}

/* Specific backgrounds for each section */
#object1 {
    background: linear-gradient(#fad889, #a49054);
}

#object2 {
    background: linear-gradient(#a49054, #e8e1d8);
}

#object3 {
    background: linear-gradient(#e8e1d8, #aacaf0);
}

#object4 {
    background: linear-gradient(#aacaf0, #f9bd94);
}

#object5 {
    background: linear-gradient(#f9bd94, #ccbfb4);
}

#object6 {
    background: linear-gradient(#ccbfb4, #ecede9);
}

#object7 {
    background: linear-gradient(#ecede9, #add8d2);
}

#object8 {
    background-color: #add8d2;
}

@media (max-width: 768px) {
    .object-inline {
        flex-direction: column;
        text-align: center;
    }

    .object-inline div {
        margin: 10px 0;
    }

    .header-left h1, .header-right {
        margin: 0;
    }
}

.header {
    width: 100%;
    z-index: 999999;
}

#object0 {
    background: linear-gradient(white, #fad889); /* Gradient background */
    color: black; /* Text color */
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
}

#object0 h2 {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Bottom margin */
}

#object0 p {
    font-size: 18px; /* Font size */
    margin-bottom: 30px; /* Bottom margin */
}

#object0 .button-style {
    padding: 15px 30px; /* Padding */
    font-size: 20px; /* Font size */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}

.arrow {
    position: absolute;
    z-index: 1;
}

.arrow0 {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 100%);
    height: 600px;
    top: 65vh;
    left: 60vh;
}

.arrow1 {
    left: 80vh;
    top: 148vh;
    height: 65.21vh;
}

.arrow2 {
    height: 65.21vh;
    left: 50vh;
    top: 228vh;
}

.arrow3 {
    height: 65.21vh;
    left: 80vh;
    top: 308vh;
}

.arrow4 {
    height: 54.34vh;
    left: 60vh;
    top: 392vh;
}

.arrow5 {
    height: 54.34vh;
    left: 80vh;
    top: 472vh;
}

.arrow6 {
    height: 65.21vh;
    left: 50vh;
    top: 548vh;
}

.arrow7 {
    height: 54.34vh;
    left: 80vh;
    top: 631vh;
}

/* Default light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* Other specific styles for light and dark mode */
.light-mode header {
    background-color: #fff;
    color: black;
}

.dark-mode header {
    background-color: #333;
    color: white;
}

.dark-mode .object-inline {
    background-color: #333;
    color: white;
}

.dark-mode #object0 {
    color: white;
    background: linear-gradient(black, #c79a5a);
}

.dark-mode #object1 {
    background: linear-gradient(#c79a5a, #725b36);
}

.dark-mode #object2 {
    background: linear-gradient(#725b36, #b0a69d);
}

.dark-mode #object3 {
    background: linear-gradient(#b0a69d, #7182a6);
}

.dark-mode #object4 {
    background: linear-gradient(#7182a6, #c68564);
}

.dark-mode #object5 {
    background: linear-gradient(#c68564, #8e8071);
}

.dark-mode #object6 {
    background: linear-gradient(#8e8071, #b1b2ac);
}

.dark-mode #object7 {
    background: linear-gradient(#b1b2ac, #79908f);
}

.dark-mode #object8 {
    background-color: #79908f;
}
